<form id="add-form" class="form-horizontal" role="form" data-toggle="validator" method="POST" action="">
    <div data-toggle="cxselect" data-selects="first,second,third">

        <div class="form-group">
            <label for="c-library" class="control-label col-xs-12 col-sm-2">{:__('Library')}:</label>
            <div class="col-xs-12 col-sm-8">
                <select class="first form-control" data-rule="required" name="row[library]" data-url="cms/book/choose">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="c-literature" class="control-label col-xs-12 col-sm-2">{:__('Literature')}:</label>
            <div class="col-xs-12 col-sm-8">
                <select class="second form-control" data-rule="required" name="row[literature]" data-url="cms/book/choose" data-query-name="channel_id">
                </select>
            </div>
        </div>

        <div class="form-group">
            <label for="c-version" class="control-label col-xs-12 col-sm-2">{:__('Version')}:</label>
            <div class="col-xs-12 col-sm-8">
                <select class="third form-control" data-rule="" name="row[version]" data-url="cms/book/choose" data-query-name="archives_id">
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="c-image" class="control-label col-xs-12 col-sm-2">{:__('Image')}:</label>
        <div class="col-xs-12 col-sm-8">
            <div class="input-group">
                <input id="c-image" data-rule="required" class="form-control" size="50" name="row[image]" type="text" value="">
                <div class="input-group-addon no-border no-padding">
                    <span><button type="button" id="plupload-image" class="btn btn-danger plupload" data-input-id="c-image" data-mimetype="image/gif,image/jpeg,image/png,image/jpg,image/bmp" data-multiple="false" data-preview-id="p-image"><i class="fa fa-upload"></i> {:__('Upload')}</button></span>
                    <span><button type="button" id="fachoose-image" class="btn btn-primary fachoose" data-input-id="c-image" data-mimetype="image/*" data-multiple="false"><i class="fa fa-list"></i> {:__('Choose')}</button></span>
                </div>
                <span class="msg-box n-right" for="c-image"></span>
            </div>
            <ul class="row list-inline plupload-preview" id="p-image"></ul>
        </div>
    </div>

    <div class="form-group">
        <label for="c-title" class="control-label col-xs-12 col-sm-2">頁標題:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-title" class="form-control" name="row[title]" type="text" >
        </div>
    </div>

<!--文本编辑器 START-->
    <style>
        .input-text,.note-editable{
            writing-mode: tb-rl;
            writing-mode: vertical-rl;
            -webkit-writing-mode: vertical-rl;
            width: 100% !important;
            font-size: 16px; letter-spacing:2px;
             height:460px !important;
        }

        .note-editor,.note-editable{ width: 400px;}

        #input-text2{
            max-width:500px;
            box-sizing: border-box;
            overflow: hidden;
            border:1px solid  #dddddd;
            box-shadow: 0px 0px 6px #bfbfbf;
            padding:10px;
            background:#fff;
        }
        #edui1{ width: 100% !important;}
    </style>

    <div class="form-group">
        <label for="c-content" class="control-label col-xs-12 col-sm-2">{:__('Content')}:</label>
        <div class="col-xs-8 col-sm-8">
            <!--<textarea id="c-content" data-rule="required" class="form-control summernote" rows="5" name="row[content]" cols="50"></textarea>-->

            <script type="text/javascript" charset="utf-8" src="__CDN__/assets/addons/ueditor/ueditor.config.js"></script>
            <script type="text/javascript" charset="utf-8" src="__CDN__/assets/addons/ueditor/ueditor.all.min.js"> </script>
            <script type="text/javascript" charset="utf-8" src="__CDN__/assets/addons/ueditor/lang/zh-cn/zh-cn.js"></script>
            <script>var ue = UE.getEditor('editor');</script>
            <script type="text/plain" id="editor" name="row[content]" style="width:400px; height:550px;" ></script>
        </div>

        <!--<div class="col-xs-4 col-sm-4">-->
            <!--<div id="input-text2" class="input-text">-->
                <!--&lt;!&ndash;单单单单<b>双双</b>单单单单&ndash;&gt;-->
                <!--&lt;!&ndash;<div>单单单单<b>双双</b>单单单单</div>&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->

    </div>


<!--文本编辑器 END-->

    <div class="form-group">
        <label for="c-weigh" class="control-label col-xs-12 col-sm-2">{:__('Weigh')}:</label>
        <div class="col-xs-12 col-sm-8">
            <input id="c-weigh" data-rule="required" class="form-control" name="row[weigh]" type="number" value="0">
        </div>
    </div>

    <div class="form-group layer-footer">
        <label class="control-label col-xs-12 col-sm-2"></label>
        <div class="col-xs-12 col-sm-8">
            <button type="submit" class="btn btn-success btn-embossed disabled">{:__('OK')}</button>
            <button type="reset" class="btn btn-default btn-embossed">{:__('Reset')}</button>
        </div>
    </div>
</form>
<!--<script>-->
    <!--function chk()-->
    <!--{-->
        <!--setTimeout("chk()",100);-->
        <!--document.getElementById("input-text2").innerHTML =  document.getElementsByClassName("note-editable")[0].innerHTML ;-->
    <!--}-->
<!--</script>-->