<!-- Logo -->
<a href="/index" class="logo">
    <!-- 迷你模式下Logo的大小为50X50 -->
    <span class="logo-mini"><img src="__CDN__/assets/img/logo1.png" alt="" style="width: 100%"></span>
    <!-- 普通模式下Logo -->
    <span class="logo-lg"><img src="__CDN__/assets/img/logo1.png" alt="" style="height: 46px; " ><img src="__CDN__/assets/img/logo2.png" alt="" style="height: 46px; margin-left: 40px;" ></span>
</a>

<!-- 顶部通栏样式 -->
<nav class="navbar navbar-static-top">


    <div id="nav" class="pull-left" style="left:0px;">
        <!--如果不想在顶部显示角标,则给ul加上disable-top-badge类即可-->
        <ul class="nav nav-tabs nav-addtabs disable-top-badge" role="tablist">
            <li>
                <img src="__CDN__/assets/img/logo3.png" alt="" style="height: 50px">
            </li>
        </ul>
    </div>

    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            <li>
                <img src="__CDN__/assets/img/bg-top-right.png" alt="" style="height: 50px">
            </li>

        </ul>
    </div>
</nav>